<h1 align="center"> Welcome to Categories Page </h1><br><br>

  <div class="row" align="center" >
    <td><%= link_to('Create New Post Type', new_type_path , method: :get, class: "btn btn-large btn-primary")%></td>

  </div>

<div id="categories" class="tab-pane">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <% @types.each_with_index do |type,index| %>
          <tr>
            <td><%= type.id %></td>
            <td><%= type.name %></td>
            <td>
              <%= link_to('Edit', edit_type_path(type), class: "btn btn-large btn-primary")%>
              <%= link_to('Delete', type_path(type), method: :delete, class: "btn btn-large btn-primary")%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
