<h1 align="center"> Welcome to Orders Page </h1><br><br>

<div id="posts" class="tab-pane">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Order Id</th>
          <th>User Address</th>
          <th>Cart Items</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each_with_index do |order,index| %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.address.address %></td>
            <td><%= order.order_items.count %></td>
            <td><%= order.status%></td>
            <td>
              <%= form_for(order, :html => {class: "form-horizontal", role: "form"}) do |f|%>
                <%= f.submit class:'btn btn-primary btn-lg'%>
              <% end %>
            </td>
            <td><%= link_to('Delete', order_path(order.id), method: :delete, class: "btn btn-large btn-primary")%></td>
              <%#= render :partial => 'images/image', :locals => {:image => image} %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
