<!--Start rev slider wrapper-->     
<section class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider"  data-version="5.0">
        <ul>
            <li data-transition="random">
                <img src="assets/slides/banner01.jpg"  alt="" width="1920" height="600" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1" >
                
                <div class="tp-caption  tp-resizeme" 
                data-x="left" data-hoffset="0" 
                data-y="top" data-voffset="190" 
                data-transform_idle="o:1;"         
                data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
                data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
                data-splitin="none" 
                data-splitout="none"
                data-responsive_offset="on"
                data-start="700">
                <div class="slide-content-box mar-lft">
                    <h1>Welcome to Bid2Buy</h1>
                </div>
            </div>
            <div class="tp-caption  tp-resizeme" 
            data-x="left" data-hoffset="0" 
            data-y="top" data-voffset="240" 
            data-transform_idle="o:1;"         
            data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
            data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
            data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
            data-splitin="none" 
            data-splitout="none"
            data-responsive_offset="on"
            data-start="1500">
            <div class="slide-content-box mar-lft">
                <h2>Now you can Bid and Buy Products</h2>
            </div>
            <div class="btn">  
                <%= link_to "Contact Us", contact_path %>    
            </div>
        </div>
        <div class="tp-caption  tp-resizeme" 
        data-x="left" data-hoffset="0" 
        data-y="top" data-voffset="395" 
        data-transform_idle="o:1;"         
        data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
        data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
        data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
        data-splitin="none" 
        data-splitout="none"
        data-responsive_offset="on"
        data-start="2000">
        
    </div>
    <div class="tp-caption tp-resizeme" 
    data-x="left" data-hoffset="0" 
    data-y="top" data-voffset="480" 
    data-transform_idle="o:1;"                         
    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"                     
    data-splitin="none" 
    data-splitout="none" 
    data-responsive_offset="on"
    data-start="2900">
    <div class="slide-content-box mar-lft">
        
    </div>
</div>
<div class="tp-caption tp-resizeme" 
data-x="left" data-hoffset="200" 
data-y="top" data-voffset="480" 
data-transform_idle="o:1;"                         
data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"                     
data-splitin="none" 
data-splitout="none" 
data-responsive_offset="on"
data-start="2900">
<div class="slide-content-box mar-lft">
    
</div>
</div>
</li>
<li data-transition="random">
    <img src="assets/slides/banner02.jpg" alt="" width="1920" height="600" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1" >

    <div class="tp-caption tp-resizeme slogan"
    data-x="center" data-hoffset="0" 
    data-y="center" data-voffset="-120" 
    data-transform_idle="o:1;"         
    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
    data-splitin="none" 
    data-splitout="none"  
    data-start="500">
   
</div>
<div class="tp-caption tp-resizeme"
data-x="center" data-hoffset="0" 
data-y="center" data-voffset="-55" 
data-transform_idle="o:1;"                         
data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;" 
data-splitin="none" 
data-splitout="none" 
data-responsive_offset="on"
data-start="1500">
<div class="slide-content-box middle-slide">
</div>
</div>
<div class="tp-caption tp-resizeme"
data-x="center" data-hoffset="0" 
data-y="center" data-voffset="25" 
data-transform_idle="o:1;"                         
data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;" 
data-splitin="none" 
data-splitout="none" 
data-responsive_offset="on"
data-start="2500">
<div class="slide-content-box middle-slide">
</div>
</div>
<div class="tp-caption tp-resizeme" 
data-x="center" data-hoffset="0" 
data-y="center" data-voffset="110" 
data-transform_idle="o:1;"                         
data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"                     
data-splitin="none" 
data-splitout="none" 
data-responsive_offset="on"
data-start="2300">
<div class="slide-content-box middle-slide">
       
</div>
</div>
</li>
<li data-transition="random">
    <img src="assets/slides/banner03.jpg"  alt="" width="1920" height="600" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1" >

    <div class="tp-caption  tp-resizeme" 
    data-x="right" data-hoffset="0" 
    data-y="top" data-voffset="195" 
    data-transform_idle="o:1;"         
    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
    data-splitin="none" 
    data-splitout="none"
    data-responsive_offset="on"
    data-start="700">

</div>
</li>
</ul>
</div>
</section>

<!--Top Brands Section-->

<!--Smartphones And Tablets Section-->
<section>
    <div class="new_arrivals_agile_w3ls_info"> 
        <div class="container">
            <h3 class="wthree_text_info">Phones &<span> Tablets</span></h3>     
            <div >
                <ul class="nav nav-justified resp-tabs-list">
                    <li class="active"><a data-toggle="pill" data-target="#menu1">Smartphones</a></li>
                    <li><a data-toggle="pill" data-target="#menu2">Tablets</a></li>
                    <li><a data-toggle="pill" data-target="#menu3">Accessories</a></li>
                </ul>
                  
                <div class="tab-content resp-tabs-container">
                    <div id="menu1" class="tab-pane fade in active">
                        <% Post.simple_posts.available.smartphone_posts.each do |post|%>
                            <div class="col-md-3 product-men">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item">
                                        <%= image_tag post.photo_url, class: "pro-image-front"%>
                                        <%= image_tag post.photo_url, class: "pro-image-back"%>
                                        <div class="men-cart-pro">
                                           <div class="inner-men-cart-pro link-product-add-cart"">
                                                <%= link_to "Quick View", post_path(post) %>
                                            </div>
                                        </div>
                                        <span class="product-new-top">New</span>

                                    </div>
                                    <div class="item-info-product ">
                                        <h4><a href="single.html"><%=post.name.first(20)%></a></h4>
                                        <div class="info-product-price">
                                            <span class="item_price"><%= post.price %></span>
                                        </div>
                                         <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                            <form >
                                                <fieldset>
                                                    <input type="hidden" name="amount" value="1" />
                                                    <input type="hidden" name="post_id" value="<%=post.id%>" />
                                                    <input type="button" name="submit" value="Add to cart" class="button" 
                                                    onclick="add_to_cart(<%=post.id%>,1)" />
                                                    
                                                </fieldset>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div> 
                        <%end%> 
                    </div>
                    <div id="menu2" class="tab-pane fade">
                      <% Post.simple_posts.available.tablets_posts.each do |post|%>
                            <div class="col-md-3 product-men">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item">
                                        <%= image_tag post.photo_url, class: "pro-image-front"%>
                                        <%= image_tag post.photo_url, class: "pro-image-back"%>
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro link-product-add-cart"">
                                                <%= link_to "Quick View", post_path(post) %>
                                            </div>
                                        </div>
                                        <span class="product-new-top">New</span>

                                    </div>
                                    <div class="item-info-product ">
                                        <h4><a href="single.html"><%=post.name.first(20)%></a></h4>
                                        <div class="info-product-price">
                                            <span class="item_price"><%= post.price %></span>
                                        </div>
                                         <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                            <form >
                                                <fieldset>
                                                    <input type="hidden" name="amount" value="1" />
                                                    <input type="hidden" name="post_id" value="<%=post.id%>" />
                                                    <input type="button" name="submit" value="Add to cart" class="button" 
                                                    onclick="add_to_cart(<%=post.id%>,1)" />
                                                    
                                                </fieldset>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div> 
                        <%end%> 
                    </div>
                    <div id="menu3" class="tab-pane fade">
                      <% Post.simple_posts.available.accessories_posts.each do |post|%>
                            <div class="col-md-3 product-men">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item">
                                        <%= image_tag post.photo_url, class: "pro-image-front"%>
                                        <%= image_tag post.photo_url, class: "pro-image-back"%>
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro link-product-add-cart"">
                                                <%= link_to "Quick View", post_path(post) %>
                                            </div>
                                        </div>
                                        <span class="product-new-top">New</span>

                                    </div>
                                    <div class="item-info-product ">
                                        <h4><a href="single.html"><%=post.name.first(20)%></a></h4>
                                        <div class="info-product-price">
                                            <span class="item_price"><%= post.price %></span>
                                        </div>
                                         <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                            <form >
                                                <fieldset>
                                                    <input type="hidden" name="amount" value="1" />
                                                    <input type="hidden" name="post_id" value="<%=post.id%>" />
                                                    <input type="button" name="submit" value="Add to cart" class="button" 
                                                    onclick="add_to_cart(<%=post.id%>,1)" />
                                                    
                                                </fieldset>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div> 
                        <%end%> 
                    </div>
                    
                </div>

            </div>
        </div>
    </div> 
</section>
<!--Men's clothing Section-->
<section>
    <div class="new_arrivals_agile_w3ls_info"> 
        <div class="container">
            <h3 class="wthree_text_info">Men's<span> Clothing</span></h3>     
            <div >
                <ul class="nav nav-justified resp-tabs-list">
                    <li class="active"><a data-toggle="pill" data-target="#menu7">Western Clothing</a></li>
                    <li><a data-toggle="pill" data-target="#menu8">Pakistani Clothing</a></li>
                    <li><a data-toggle="pill" data-target="#menu9">Watches</a></li>
                </ul>
                  
                <div class="tab-content resp-tabs-container">
                    <div id="menu7" class="tab-pane fade in active">
                        <% Post.simple_posts.available.men_western_posts.each do |post|%>
                            <div class="col-md-3 product-men">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item">
                                        <%= image_tag post.photo_url, class: "pro-image-front"%>
                                        <%= image_tag post.photo_url, class: "pro-image-back"%>
                                        <div class="men-cart-pro">
                                           <div class="inner-men-cart-pro link-product-add-cart"">
                                                <%= link_to "Quick View", post_path(post) %>
                                            </div>
                                        </div>
                                        <span class="product-new-top">New</span>

                                    </div>
                                    <div class="item-info-product ">
                                        <h4><a href="single.html"><%=post.name.first(20)%></a></h4>
                                        <div class="info-product-price">
                                            <span class="item_price"><%= post.price%></span>
                                            
                                        </div>
                                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                            <form >
                                                <fieldset>
                                                    <input type="hidden" name="amount" value="1" />
                                                    <input type="hidden" name="post_id" value="<%=post.id%>" />
                                                    <input type="button" name="submit" value="Add to cart" class="button" 
                                                    onclick="add_to_cart(<%=post.id%>,1)" />
                                                    
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        <%end%> 
                    </div>
                    <div id="menu8" class="tab-pane fade">
                     <% Post.simple_posts.available.men_pakistani_posts.each do |post|%>
                            <div class="col-md-3 product-men">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item">
                                        <%= image_tag post.photo_url, class: "pro-image-front"%>
                                        <%= image_tag post.photo_url, class: "pro-image-back"%>
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro link-product-add-cart"">
                                                <%= link_to "Quick View", post_path(post) %>
                                            </div>
                                        </div>
                                        <span class="product-new-top">New</span>

                                    </div>
                                    <div class="item-info-product ">
                                        <h4><a href="single.html"><%=post.name.first(20)%></a></h4>
                                        <div class="info-product-price">
                                            <span class="item_price"><%= post.price%></span>
                                            
                                        </div>
                                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                            <form >
                                                <fieldset>
                                                    <input type="hidden" name="amount" value="1" />
                                                    <input type="hidden" name="post_id" value="<%=post.id%>" />
                                                    <input type="button" name="submit" value="Add to cart" class="button" 
                                                    onclick="add_to_cart(<%=post.id%>,1)" />
                                                    
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        <%end%> 
                    </div>
                    <div id="menu9" class="tab-pane fade">
                     <% Post.simple_posts.available.men_watches_posts.each do |post|%>
                            <div class="col-md-3 product-men">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item">
                                        <%= image_tag post.photo_url, class: "pro-image-front"%>
                                        <%= image_tag post.photo_url, class: "pro-image-back"%>
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro link-product-add-cart"">
                                                <%= link_to "Quick View", post_path(post) %>
                                            </div>
                                        </div>
                                        <span class="product-new-top">New</span>

                                    </div>
                                    <div class="item-info-product ">
                                        <h4><a href="single.html"><%=post.name.first(20)%></a></h4>
                                        <div class="info-product-price">
                                            <span class="item_price"><%= post.price%></span>
                                        
                                        </div>
                                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                            <form >
                                                <fieldset>
                                                    <input type="hidden" name="amount" value="1" />
                                                    <input type="hidden" name="post_id" value="<%=post.id%>" />
                                                    <input type="button" name="submit" value="Add to cart" class="button" 
                                                    onclick="add_to_cart(<%=post.id%>,1)" />
                                                    
                                                </fieldset>
                                            </form>

                                    </div>
                                </div>
                            </div> 
                        <%end%> 
                    </div>
                    
                </div>

            </div>
        </div>
    </div> 
</section>
<!--Women's clothing Section-->
<section>
    <div class="new_arrivals_agile_w3ls_info"> 
        <div class="container">
            <h3 class="wthree_text_info">Women's<span> Fashion</span></h3>     
            <div >
                <ul class="nav nav-justified resp-tabs-list">
                    <li class="active"><a data-toggle="pill" data-target="#menu10">Western Clothing</a></li>
                    <li><a data-toggle="pill" data-target="#menu11">Pakistani Clothing</a></li>
                    <li><a data-toggle="pill" data-target="#menu12">Watches</a></li>
                </ul>
                  
                <div class="tab-content resp-tabs-container">
                    <div id="menu10" class="tab-pane fade in active">
                        <% Post.simple_posts.available.women_western_posts.each do |post|%>
                            <div class="col-md-3 product-men">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item">
                                        <%= image_tag post.photo_url, class: "pro-image-front"%>
                                        <%= image_tag post.photo_url, class: "pro-image-back"%>
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro link-product-add-cart"">
                                                <%= link_to "Quick View", post_path(post) %>
                                            </div>
                                        </div>
                                        <span class="product-new-top">New</span>

                                    </div>
                                    <div class="item-info-product ">
                                        <h4><a href="single.html"><%=post.name.first(20)%></a></h4>
                                        <div class="info-product-price">
                                            <span class="item_price"><%= post.price%></span>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                            <form >
                                                <fieldset>
                                                    <input type="hidden" name="amount" value="1" />
                                                    <input type="hidden" name="post_id" value="<%=post.id%>" />
                                                    <input type="button" name="submit" value="Add to cart" class="button" 
                                                    onclick="add_to_cart(<%=post.id%>,1)" />
                                                    
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        <%end%> 
                    </div>
                    <div id="menu11" class="tab-pane fade">
                       <% Post.simple_posts.available.women_pakistani_posts.each do |post|%>
                            <div class="col-md-3 product-men">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item">
                                        <%= image_tag post.photo_url, class: "pro-image-front"%>
                                        <%= image_tag post.photo_url, class: "pro-image-back"%>
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro link-product-add-cart"">
                                                <%= link_to "Quick View", post_path(post) %>
                                            </div>
                                        </div>
                                        <span class="product-new-top">New</span>

                                    </div>
                                    <div class="item-info-product ">
                                        <h4><a href="single.html"><%=post.name.first(20)%></a></h4>
                                        <div class="info-product-price">
                                            <span class="item_price"><%= post.price%></span>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                            <form >
                                                <fieldset>
                                                    <input type="hidden" name="amount" value="1" />
                                                    <input type="hidden" name="post_id" value="<%=post.id%>" />
                                                    <input type="button" name="submit" value="Add to cart" class="button" 
                                                    onclick="add_to_cart(<%=post.id%>,1)" />
                                                    
                                                </fieldset>
                                            </form>
                                            </div>
                                    </div>
                                </div>
                            </div> 
                        <%end%> 
                    </div>
                    <div id="menu12" class="tab-pane fade">
                       <% Post.simple_posts.available.women_watches_posts.each do |post|%>
                            <div class="col-md-3 product-men">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item">
                                        <%= image_tag post.photo_url, class: "pro-image-front"%>
                                        <%= image_tag post.photo_url, class: "pro-image-back"%>
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro link-product-add-cart"">
                                                <%= link_to "Quick View", post_path(post) %>
                                            </div>
                                        </div>
                                        <span class="product-new-top">New</span>

                                    </div>
                                    <div class="item-info-product ">
                                        <h4><a href="single.html"><%=post.name.first(20)%></a></h4>
                                        <div class="info-product-price">
                                            <span class="item_price"><%= post.price%></span>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                            <form >
                                                <fieldset>
                                                    <input type="hidden" name="amount" value="1" />
                                                    <input type="hidden" name="post_id" value="<%=post.id%>" />
                                                    <input type="button" name="submit" value="Add to cart" class="button" 
                                                    onclick="add_to_cart(<%=post.id%>,1)" />
                                                    
                                                </fieldset>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div> 
                        <%end%> 
                    </div>
                    
                </div>

            </div>
        </div>
    </div> 
</section>
<!--Grocer's shop Section-->
<section>
    <div class="new_arrivals_agile_w3ls_info"> 
        <div class="container">
            <h3 class="wthree_text_info">Grocer's<span> Shop</span></h3>     
            <div >
                <ul class="nav nav-justified resp-tabs-list">
                    <li class="active"><a data-toggle="pill" data-target="#menu13">Beverages</a></li>
                    <li><a data-toggle="pill" data-target="#menu14">Breakfast, Choco & Snacks</a></li>
                    <li><a data-toggle="pill" data-target="#menu15">Food Staple</a></li>
                </ul>
                  
                <div class="tab-content resp-tabs-container">
                    <div id="menu13" class="tab-pane fade in active">
                        <% Post.simple_posts.available.beverages_posts.each_with_index do |post,brand_index|%>
                            <div class="col-md-3 product-men">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item">
                                        <%= image_tag post.photo_url, class: "pro-image-front"%>
                                        <%= image_tag post.photo_url, class: "pro-image-back"%>
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro link-product-add-cart"">
                                                <%= link_to "Quick View", post_path(post) %>
                                            </div>
                                        </div>
                                        <span class="product-new-top">New</span>

                                    </div>
                                    <div class="item-info-product ">
                                        <h4><a href="single.html"><%=post.name.first(20)%></a></h4>
                                        <div class="info-product-price">
                                            <span class="item_price"><%= post.price%></span>
                                        </div>
                                       <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                            <form >
                                                <fieldset>
                                                    <input type="hidden" name="amount" value="1" />
                                                    <input type="hidden" name="post_id" value="<%=post.id%>" />
                                                    <input type="button" name="submit" value="Add to cart" class="button" 
                                                    onclick="add_to_cart(<%=post.id%>,1)" />
                                                    
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        <%end%> 
                    </div>
                    <div id="menu14" class="tab-pane fade">
                      <<% Post.simple_posts.available.breakfast_posts.each_with_index do |post,brand_index|%>
                            <div class="col-md-3 product-men">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item">
                                        <%= image_tag post.photo_url, class: "pro-image-front"%>
                                        <%= image_tag post.photo_url, class: "pro-image-back"%>
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro link-product-add-cart"">
                                                <%= link_to "Quick View", post_path(post) %>
                                            </div>
                                        </div>
                                        <span class="product-new-top">New</span>

                                    </div>
                                    <div class="item-info-product ">
                                        <h4><a href="single.html"><%=post.name.first(20)%></a></h4>
                                        <div class="info-product-price">
                                            <span class="item_price"><%= post.price%></span>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                            <form >
                                                <fieldset>
                                                    <input type="hidden" name="amount" value="1" />
                                                    <input type="hidden" name="post_id" value="<%=post.id%>" />
                                                    <input type="button" name="submit" value="Add to cart" class="button" 
                                                    onclick="add_to_cart(<%=post.id%>,1)" />
                                                    
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        <%end%> 
                    </div>
                    <div id="menu15" class="tab-pane fade">
                     <% Post.simple_posts.available.food_posts.each_with_index do |post,brand_index|%>
                            <div class="col-md-3 product-men">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item">
                                        <%= image_tag post.photo_url, class: "pro-image-front"%>
                                        <%= image_tag post.photo_url, class: "pro-image-back"%>
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro link-product-add-cart"">
                                                <%= link_to "Quick View", post_path(post) %>
                                            </div>
                                        </div>
                                        <span class="product-new-top">New</span>

                                    </div>
                                    <div class="item-info-product ">
                                        <h4><a href="single.html"><%=post.name.first(20)%></a></h4>
                                        <div class="info-product-price">
                                            <span class="item_price"><%= post.price%></span>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                            <form >
                                                <fieldset>
                                                    <input type="hidden" name="amount" value="1" />
                                                    <input type="hidden" name="post_id" value="<%=post.id%>" />
                                                    <input type="button" name="submit" value="Add to cart" class="button" 
                                                    onclick="add_to_cart(<%=post.id%>,1)" />
                                                    
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        <%end%> 
                    </div>
                    
                </div>

            </div>
        </div>
    </div> 
</section>

