<!--Start rev slider wrapper-->     
<section class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider"  data-version="5.0">
        <ul>
            <li data-transition="random">
                <img src="assets/slides/1.jpg"  alt="" width="1920" height="600" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1" >
                
                <div class="tp-caption  tp-resizeme" 
                data-x="left" data-hoffset="0" 
                data-y="top" data-voffset="190" 
                data-transform_idle="o:1;"         
                data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
                data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
                data-splitin="none" 
                data-splitout="none"
                data-responsive_offset="on"
                data-start="700">
                <div class="slide-content-box mar-lft">
                    <h2>Welcome to Bid2Buy</h2>
                </div>
            </div>
            <div class="tp-caption  tp-resizeme" 
            data-x="left" data-hoffset="0" 
            data-y="top" data-voffset="240" 
            data-transform_idle="o:1;"         
            data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
            data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
            data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
            data-splitin="none" 
            data-splitout="none"
            data-responsive_offset="on"
            data-start="1500">
            <div class="slide-content-box mar-lft">
                <h1>Give you unique<br>relaxation experience</h1>
            </div>
        </div>
        <div class="tp-caption  tp-resizeme" 
        data-x="left" data-hoffset="0" 
        data-y="top" data-voffset="395" 
        data-transform_idle="o:1;"         
        data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
        data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
        data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
        data-splitin="none" 
        data-splitout="none"
        data-responsive_offset="on"
        data-start="2000">
        <div class="slide-content-box mar-lft">
            <p>Life Care is an Elegant, good looking Beauty Spa Website.</p>
        </div>
    </div>
    <div class="tp-caption tp-resizeme" 
    data-x="left" data-hoffset="0" 
    data-y="top" data-voffset="480" 
    data-transform_idle="o:1;"                         
    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"                     
    data-splitin="none" 
    data-splitout="none" 
    data-responsive_offset="on"
    data-start="2900">
    <div class="slide-content-box mar-lft">
        <div class="button">
            <a class="thm-btn bgclr-1" href="#">Know More</a>       
        </div>
    </div>
</div>
<div class="tp-caption tp-resizeme" 
data-x="left" data-hoffset="200" 
data-y="top" data-voffset="480" 
data-transform_idle="o:1;"                         
data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"                     
data-splitin="none" 
data-splitout="none" 
data-responsive_offset="on"
data-start="2900">
<div class="slide-content-box mar-lft">
    <div class="button">  
        <a class="thm-btn bgclr-1 contact" href="#">Contact Us</a>     
    </div>
</div>
</div>
</li>
<li data-transition="random">
    <img src="assets/slides/2.jpg" alt="" width="1920" height="600" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1" >

    <div class="tp-caption tp-resizeme slogan"
    data-x="center" data-hoffset="0" 
    data-y="center" data-voffset="-120" 
    data-transform_idle="o:1;"         
    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
    data-splitin="none" 
    data-splitout="none"  
    data-start="500">
    <div class="slide-content-box middle-slide">
        <h2>Referesh, Renew, Rejuvenate...</h2>
    </div>
</div>
<div class="tp-caption tp-resizeme"
data-x="center" data-hoffset="0" 
data-y="center" data-voffset="-55" 
data-transform_idle="o:1;"                         
data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;" 
data-splitin="none" 
data-splitout="none" 
data-responsive_offset="on"
data-start="1500">
<div class="slide-content-box middle-slide">
    <h1>Get a therapy of your choice</h1>
</div>
</div>
<div class="tp-caption tp-resizeme"
data-x="center" data-hoffset="0" 
data-y="center" data-voffset="25" 
data-transform_idle="o:1;"                         
data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;" 
data-splitin="none" 
data-splitout="none" 
data-responsive_offset="on"
data-start="2500">
<div class="slide-content-box middle-slide">
    <h3>Life need care and we provide. </h3>
</div>
</div>
<div class="tp-caption tp-resizeme" 
data-x="center" data-hoffset="0" 
data-y="center" data-voffset="110" 
data-transform_idle="o:1;"                         
data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"                     
data-splitin="none" 
data-splitout="none" 
data-responsive_offset="on"
data-start="2300">
<div class="slide-content-box middle-slide">
    <div class="button">
        <a class="thm-btn bgclr-1" href="#">Know More</a>   
        <a class="thm-btn bgclr-1 contact" href="#">Contact Us</a>      
    </div>    
</div>
</div>
</li>
<li data-transition="random">
    <img src="assets/slides/3.jpg"  alt="" width="1920" height="600" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1" >

    <div class="tp-caption  tp-resizeme" 
    data-x="right" data-hoffset="0" 
    data-y="top" data-voffset="195" 
    data-transform_idle="o:1;"         
    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
    data-splitin="none" 
    data-splitout="none"
    data-responsive_offset="on"
    data-start="700">

</div>
</li>
</ul>
</div>
</section>

<!--Top Brands Section-->
<section>
    <div class="new_arrivals_agile_w3ls_info"> 
        <div class="container">
            <h3 class="wthree_text_info">Top <span>Brands</span></h3>     
            <div id="horizontalTab">
                <ul class="nav nav-justified resp-tabs-list">
                    <li class="active"><a data-toggle="pill" data-target="#menu4">Tech Brands</a></li>
                    <li><a data-toggle="pill" data-target="#menu5">Fashion Brands</a></li>
                    <li><a data-toggle="pill" data-target="#menu6">Grocesory Brands </a></li>
                </ul>
                  
                <div class="tab-content resp-tabs-container">
                    <div id="menu4" class="tab-pane fade in active">
                        <% @brands[1..8].each_with_index do |brand,brand_index|%>
                            <div class="col-md-3 product-men">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item">
                                        <%= image_tag brand.photo_url, class: "pro-image-front"%>
                                        <%= image_tag brand.photo_url, class: "pro-image-back"%>
                                        <span class="product-new-top">New</span>

                                    </div>
                                    <div class="item-info-product ">
                                        <h4><a href="single.html"><%=brand.name.first(20)%></a></h4>
                                        <div class="info-product-price">
                                        </div>
                                        <div class="snipcart-details top_brand_home_details item_add single-item button2">
                                            <form action="#" method="post">
                                                <fieldset>
                                                    <input type="hidden" name="add" value="1" />
                                                    <input type="hidden" name="business" value=" " />
                                                    <input type="hidden" name="return" value=" " />
                                                    <input type="hidden" name="cancel_return" value=" " />
                                                </fieldset>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div> 
                        <%end%> 
                    </div>
                    <div id="menu5" class="tab-pane fade">
                      <h3>Menu 1</h3>
                      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div id="menu6" class="tab-pane fade">
                      <h3>Menu 2</h3>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    </div>
                    
                </div>

            </div>
        </div>
    </div> 
</section>
<!--Smartphones And Tablets Section-->
<section>
    <div class="new_arrivals_agile_w3ls_info"> 
        <div class="container">
            <h3 class="wthree_text_info"><span>Phones & Tablets</span></h3>     
            <div id="horizontalTab">
                <ul class="nav nav-justified resp-tabs-list">
                    <li class="active"><a data-toggle="pill" data-target="#menu1">Smartphones</a></li>
                    <li><a data-toggle="pill" data-target="#menu2">Tablets</a></li>
                    <li><a data-toggle="pill" data-target="#menu3">Accessories</a></li>
                </ul>
                  
                <div class="tab-content resp-tabs-container">
                    <div id="menu1" class="tab-pane fade in active">
                        <% Post.mobile_and_tablets_posts[1..8].each do |post|%>
                            <div class="col-md-3 product-men">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item">
                                        <%= image_tag post.photo_url, class: "pro-image-front"%>
                                        <%= image_tag post.photo_url, class: "pro-image-back"%>
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro">
                                                <a href="single.html" class="link-product-add-cart">Quick View</a>
                                            </div>
                                        </div>
                                        <span class="product-new-top">New</span>

                                    </div>
                                    <div class="item-info-product ">
                                        <h4><a href="single.html"><%=post.name.first(20)%></a></h4>
                                        <div class="info-product-price">
                                            <span class="item_price"><%= post.price %></span>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                            <form action="#" method="post">
                                                <fieldset>
                                                    <input type="hidden" name="cmd" value="_cart" />
                                                    <input type="hidden" name="add" value="1" />
                                                    <input type="hidden" name="business" value=" " />
                                                    <input type="hidden" name="item_name" value="Formal Blue Shirt" />
                                                    <input type="hidden" name="amount" value="30.99" />
                                                    <input type="hidden" name="discount_amount" value="1.00" />
                                                    <input type="hidden" name="currency_code" value="RS" />
                                                    <input type="hidden" name="return" value=" " />
                                                    <input type="hidden" name="cancel_return" value=" " />
                                                    <input type="submit" name="submit" value="Add to cart" class="button" />
                                                </fieldset>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div> 
                        <%end%> 
                    </div>
                    <div id="menu2" class="tab-pane fade">
                      <h3>Menu 1</h3>
                      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div id="menu3" class="tab-pane fade">
                      <h3>Menu 2</h3>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    </div>
                    
                </div>

            </div>
        </div>
    </div> 
</section>
<!--Men's clothing Section-->
<section>
    <div class="new_arrivals_agile_w3ls_info"> 
        <div class="container">
            <h3 class="wthree_text_info"><span>Men's Clothing</span></h3>     
            <div id="horizontalTab">
                <ul class="nav nav-justified resp-tabs-list">
                    <li class="active"><a data-toggle="pill" data-target="#menu7">Smartphones</a></li>
                    <li><a data-toggle="pill" data-target="#menu8">Tablets</a></li>
                    <li><a data-toggle="pill" data-target="#menu9">Accessories</a></li>
                </ul>
                  
                <div class="tab-content resp-tabs-container">
                    <div id="menu7" class="tab-pane fade in active">
                        <% Post.men_posts[1..8].each do |post|%>
                            <div class="col-md-3 product-men">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item">
                                        <%= image_tag post.photo_url, class: "pro-image-front"%>
                                        <%= image_tag post.photo_url, class: "pro-image-back"%>
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro">
                                                <a href="single.html" class="link-product-add-cart">Quick View</a>
                                            </div>
                                        </div>
                                        <span class="product-new-top">New</span>

                                    </div>
                                    <div class="item-info-product ">
                                        <h4><a href="single.html"><%=post.name.first(20)%></a></h4>
                                        <div class="info-product-price">
                                            <span class="item_price"><%= post.price%></span>
                                            <del>$69.71</del>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                            <form action="#" method="post">
                                                <fieldset>
                                                    <input type="hidden" name="cmd" value="_cart" />
                                                    <input type="hidden" name="add" value="1" />
                                                    <input type="hidden" name="business" value=" " />
                                                    <input type="hidden" name="item_name" value="Formal Blue Shirt" />
                                                    <input type="hidden" name="amount" value="30.99" />
                                                    <input type="hidden" name="discount_amount" value="1.00" />
                                                    <input type="hidden" name="currency_code" value="USD" />
                                                    <input type="hidden" name="return" value=" " />
                                                    <input type="hidden" name="cancel_return" value=" " />
                                                    <input type="submit" name="submit" value="Add to cart" class="button" />
                                                </fieldset>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div> 
                        <%end%> 
                    </div>
                    <div id="menu8" class="tab-pane fade">
                      <h3>Menu 1</h3>
                      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div id="menu9" class="tab-pane fade">
                      <h3>Menu 2</h3>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    </div>
                    
                </div>

            </div>
        </div>
    </div> 
</section>
<!--Women's clothing Section-->
<section>
    <div class="new_arrivals_agile_w3ls_info"> 
        <div class="container">
            <h3 class="wthree_text_info"><span>Women's Clothing</span></h3>     
            <div id="horizontalTab">
                <ul class="nav nav-justified resp-tabs-list">
                    <li class="active"><a data-toggle="pill" data-target="#menu10">Smartphones</a></li>
                    <li><a data-toggle="pill" data-target="#menu11">Tablets</a></li>
                    <li><a data-toggle="pill" data-target="#menu12">Accessories</a></li>
                </ul>
                  
                <div class="tab-content resp-tabs-container">
                    <div id="menu10" class="tab-pane fade in active">
                        <% Post.women_posts[1..8].each do |post|%>
                            <div class="col-md-3 product-men">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item">
                                        <%= image_tag post.photo_url, class: "pro-image-front"%>
                                        <%= image_tag post.photo_url, class: "pro-image-back"%>
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro">
                                                <a href="single.html" class="link-product-add-cart">Quick View</a>
                                            </div>
                                        </div>
                                        <span class="product-new-top">New</span>

                                    </div>
                                    <div class="item-info-product ">
                                        <h4><a href="single.html"><%=post.name.first(20)%></a></h4>
                                        <div class="info-product-price">
                                            <span class="item_price"><%= post.price%></span>
                                            <del>$69.71</del>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                            <form action="#" method="post">
                                                <fieldset>
                                                    <input type="hidden" name="cmd" value="_cart" />
                                                    <input type="hidden" name="add" value="1" />
                                                    <input type="hidden" name="business" value=" " />
                                                    <input type="hidden" name="item_name" value="Formal Blue Shirt" />
                                                    <input type="hidden" name="amount" value="30.99" />
                                                    <input type="hidden" name="discount_amount" value="1.00" />
                                                    <input type="hidden" name="currency_code" value="USD" />
                                                    <input type="hidden" name="return" value=" " />
                                                    <input type="hidden" name="cancel_return" value=" " />
                                                    <input type="submit" name="submit" value="Add to cart" class="button" />
                                                </fieldset>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div> 
                        <%end%> 
                    </div>
                    <div id="menu11" class="tab-pane fade">
                      <h3>Menu 1</h3>
                      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div id="menu12" class="tab-pane fade">
                      <h3>Menu 2</h3>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    </div>
                    
                </div>

            </div>
        </div>
    </div> 
</section>
<!--Grocer's shop Section-->
<section>
    <div class="new_arrivals_agile_w3ls_info"> 
        <div class="container">
            <h3 class="wthree_text_info"><span>Grocer's Shop</span></h3>     
            <div id="horizontalTab">
                <ul class="nav nav-justified resp-tabs-list">
                    <li class="active"><a data-toggle="pill" data-target="#menu13">Smartphones</a></li>
                    <li><a data-toggle="pill" data-target="#menu14">Tablets</a></li>
                    <li><a data-toggle="pill" data-target="#menu15">Accessories</a></li>
                </ul>
                  
                <div class="tab-content resp-tabs-container">
                    <div id="menu13" class="tab-pane fade in active">
                        <% Post.simple_posts[1..8].each_with_index do |post,brand_index|%>
                            <div class="col-md-3 product-men">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item">
                                        <%= image_tag post.photo_url, class: "pro-image-front"%>
                                        <%= image_tag post.photo_url, class: "pro-image-back"%>
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro">
                                                <a href="single.html" class="link-product-add-cart">Quick View</a>
                                            </div>
                                        </div>
                                        <span class="product-new-top">New</span>

                                    </div>
                                    <div class="item-info-product ">
                                        <h4><a href="single.html"><%=post.name.first(20)%></a></h4>
                                        <div class="info-product-price">
                                            <span class="item_price"><%= post.price%></span>
                                            <del>$69.71</del>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                            <form action="/carts/add_products" method="post">
                                                <fieldset>
                                                    <input type="hidden" name="amount" value="1" />
                                                    <input type="hidden" name="post_id" value="<%=post.id%>" />
                                                    <input type="submit" name="submit" value="Add to cart" class="button" />
                                                    
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        <%end%> 
                    </div>
                    <div id="menu14" class="tab-pane fade">
                      <h3>Menu 1</h3>
                      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div id="menu15" class="tab-pane fade">
                      <h3>Menu 2</h3>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    </div>
                    
                </div>

            </div>
        </div>
    </div> 
</section>

