<!--Start rev slider wrapper-->     
<section class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider"  data-version="5.0">
        <ul>
            <li data-transition="random">
                <img src="assets/slides/1.jpg"  alt="" width="1920" height="600" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1" >
                
                <div class="tp-caption  tp-resizeme" 
                data-x="left" data-hoffset="0" 
                data-y="top" data-voffset="190" 
                data-transform_idle="o:1;"         
                data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
                data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
                data-splitin="none" 
                data-splitout="none"
                data-responsive_offset="on"
                data-start="700">
                <div class="slide-content-box mar-lft">
                    <h2>Welcome to Life Care</h2>
                </div>
            </div>
            <div class="tp-caption  tp-resizeme" 
            data-x="left" data-hoffset="0" 
            data-y="top" data-voffset="240" 
            data-transform_idle="o:1;"         
            data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
            data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
            data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
            data-splitin="none" 
            data-splitout="none"
            data-responsive_offset="on"
            data-start="1500">
            <div class="slide-content-box mar-lft">
                <h1>Give you unique<br>relaxation experience</h1>
            </div>
        </div>
        <div class="tp-caption  tp-resizeme" 
        data-x="left" data-hoffset="0" 
        data-y="top" data-voffset="395" 
        data-transform_idle="o:1;"         
        data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
        data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
        data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
        data-splitin="none" 
        data-splitout="none"
        data-responsive_offset="on"
        data-start="2000">
        <div class="slide-content-box mar-lft">
            <p>Life Care is an Elegant, good looking Beauty Spa Website.</p>
        </div>
    </div>
    <div class="tp-caption tp-resizeme" 
    data-x="left" data-hoffset="0" 
    data-y="top" data-voffset="480" 
    data-transform_idle="o:1;"                         
    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"                     
    data-splitin="none" 
    data-splitout="none" 
    data-responsive_offset="on"
    data-start="2900">
    <div class="slide-content-box mar-lft">
        <div class="button">
            <a class="thm-btn bgclr-1" href="#">Know More</a>       
        </div>
    </div>
</div>
<div class="tp-caption tp-resizeme" 
data-x="left" data-hoffset="200" 
data-y="top" data-voffset="480" 
data-transform_idle="o:1;"                         
data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"                     
data-splitin="none" 
data-splitout="none" 
data-responsive_offset="on"
data-start="2900">
<div class="slide-content-box mar-lft">
    <div class="button">  
        <a class="thm-btn bgclr-1 contact" href="#">Contact Us</a>     
    </div>
</div>
</div>
</li>
<li data-transition="random">
    <img src="assets/slides/2.jpg" alt="" width="1920" height="600" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1" >

    <div class="tp-caption tp-resizeme slogan"
    data-x="center" data-hoffset="0" 
    data-y="center" data-voffset="-120" 
    data-transform_idle="o:1;"         
    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
    data-splitin="none" 
    data-splitout="none"  
    data-start="500">
    <div class="slide-content-box middle-slide">
        <h2>Referesh, Renew, Rejuvenate...</h2>
    </div>
</div>
<div class="tp-caption tp-resizeme"
data-x="center" data-hoffset="0" 
data-y="center" data-voffset="-55" 
data-transform_idle="o:1;"                         
data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;" 
data-splitin="none" 
data-splitout="none" 
data-responsive_offset="on"
data-start="1500">
<div class="slide-content-box middle-slide">
    <h1>Get a therapy of your choice</h1>
</div>
</div>
<div class="tp-caption tp-resizeme"
data-x="center" data-hoffset="0" 
data-y="center" data-voffset="25" 
data-transform_idle="o:1;"                         
data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;" 
data-splitin="none" 
data-splitout="none" 
data-responsive_offset="on"
data-start="2500">
<div class="slide-content-box middle-slide">
    <h3>Life need care and we provide. </h3>
</div>
</div>
<div class="tp-caption tp-resizeme" 
data-x="center" data-hoffset="0" 
data-y="center" data-voffset="110" 
data-transform_idle="o:1;"                         
data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"                     
data-splitin="none" 
data-splitout="none" 
data-responsive_offset="on"
data-start="2300">
<div class="slide-content-box middle-slide">
    <div class="button">
        <a class="thm-btn bgclr-1" href="#">Know More</a>   
        <a class="thm-btn bgclr-1 contact" href="#">Contact Us</a>      
    </div>    
</div>
</div>
</li>
<li data-transition="random">
    <img src="assets/slides/3.jpg"  alt="" width="1920" height="600" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1" >

    <div class="tp-caption  tp-resizeme" 
    data-x="right" data-hoffset="0" 
    data-y="top" data-voffset="195" 
    data-transform_idle="o:1;"         
    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
    data-splitin="none" 
    data-splitout="none"
    data-responsive_offset="on"
    data-start="700">

</div>
</li>
</ul>
</div>
</section>
<!--End rev slider wrapper-->

<section>
    <div class="new_arrivals_agile_w3ls_info"> 
        <div class="container">
            <h3 class="wthree_text_info">Top <span>Brands</span></h3>     
            <div id="horizontalTab">
                <ul class="resp-tabs-list">
                    <li> Smartphone Brands</li>
                    <li> Fashion Brands </li>
                </ul>
                <div class="resp-tabs-container">
                    <div class="tab1">
                        <% @brands[1..8].each_with_index do |brand,brand_index|%>
                        <div class="col-md-3 product-men">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item">
                                    <%#= image_tag post.photo_url, class: "pro-image-front"%>
                                    <%#= image_tag post.photo_url, class: "pro-image-back"%>
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a href="single.html" class="link-product-add-cart">Quick View</a>
                                        </div>
                                    </div>
                                    <span class="product-new-top">New</span>

                                </div>
                                <div class="item-info-product ">
                                    <h4><a href="single.html"><%=brand.name.first(20)%></a></h4>
                                    <div class="info-product-price">
                                        <span class="item_price">$45.99</span>
                                        <del>$69.71</del>
                                    </div>
                                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                        <form action="#" method="post">
                                            <fieldset>
                                                <input type="hidden" name="cmd" value="_cart" />
                                                <input type="hidden" name="add" value="1" />
                                                <input type="hidden" name="business" value=" " />
                                                <input type="hidden" name="item_name" value="Formal Blue Shirt" />
                                                <input type="hidden" name="amount" value="30.99" />
                                                <input type="hidden" name="discount_amount" value="1.00" />
                                                <input type="hidden" name="currency_code" value="USD" />
                                                <input type="hidden" name="return" value=" " />
                                                <input type="hidden" name="cancel_return" value=" " />
                                                <input type="submit" name="submit" value="Add to cart" class="button" />
                                            </fieldset>
                                        </form>
                                    </div>

                                </div>
                            </div>

                        </div> 
                         <%end%>   
                    </div>
                    <div class="tab2">
                        <% @brands[1..8].each_with_index do |brand,brand_index|%>
                        <div class="col-md-3 product-men">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item">
                                    <%#= image_tag post.photo_url, class: "pro-image-front"%>
                                    <%#= image_tag post.photo_url, class: "pro-image-back"%>
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a href="single.html" class="link-product-add-cart">Quick View</a>
                                        </div>
                                    </div>
                                    <span class="product-new-top">New</span>

                                </div>
                                <div class="item-info-product ">
                                    <h4><a href="single.html"><%=brand.name.first(20)%></a></h4>
                                    <div class="info-product-price">
                                        <span class="item_price">$45.99</span>
                                        <del>$69.71</del>
                                    </div>
                                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                        <form action="#" method="post">
                                            <fieldset>
                                                <input type="hidden" name="cmd" value="_cart" />
                                                <input type="hidden" name="add" value="1" />
                                                <input type="hidden" name="business" value=" " />
                                                <input type="hidden" name="item_name" value="Formal Blue Shirt" />
                                                <input type="hidden" name="amount" value="30.99" />
                                                <input type="hidden" name="discount_amount" value="1.00" />
                                                <input type="hidden" name="currency_code" value="USD" />
                                                <input type="hidden" name="return" value=" " />
                                                <input type="hidden" name="cancel_return" value=" " />
                                                <input type="submit" name="submit" value="Add to cart" class="button" />
                                            </fieldset>
                                        </form>
                                    </div>

                                </div>
                            </div>

                        </div> 
                         <%end%>   
                    </div>
                   
                   
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div> 
</section>

<!--End Docs area-->



<!--Start appointment area-->
<section class="appointment-area" id="appointment-area">
    <div class="icon-holder leap">
        <img src="assets/icon/appointment-bg.png" alt="Icon">
    </div>
    <div class="container">
        <div class="sec-title text-center">
            <h1>Make an appointment</h1>
            <div class="border mar0auto">
                <span class="flaticon-shape"></span>    
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="appointment-box">
                    <div class="experince text-center">
                        <h3><span>Since 1991,</span> we provide best<br>service for our clients.</h3>
                        <div class="inner-content">
                            <span class="flaticon-laurel"></span>
                            <h1>26</h1>
                            <h3>Years of experince</h3>
                        </div>
                        <p>Must explain to you how all this mistaken denouncing pleasure & praising </p>    
                    </div> 
                    <div class="form">
                        <form id="appointment-form" name="appointment-form" action="inc/sendmail.php" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-box">
                                        <input type="text" name="form_name" value="" placeholder="Your Name" required="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-box">
                                        <input type="email" name="form_email" value="" placeholder="Your Email" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-box">
                                        <select class="selectmenu">
                                            <option selected="selected">Select Service</option>
                                            <option>Massage Therapy</option>
                                            <option>Facial Treatments</option>
                                            <option>Pedicure & Menicure</option>
                                            <option>Salt and Oil Bath</option>
                                            <option>Perfect Makeup</option>
                                            <option>Hair Treatments</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea name="form_message" placeholder="Your Message.." required=""></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="thm-btn bgclr-1" type="submit">submit</button>   
                                </div>
                            </div>
                        </form>  
                    </div>

                </div>
            </div>
            
            <div class="col-md-3">
                <div class="quick-contact">
                    <div class="title">
                        <h2>Contact Details</h2>
                    </div>
                    <ul class="contact-info">
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-location"></span>
                            </div>
                            <div class="text-holder">
                                <h5><span>Address:</span> <%= ADDRESS%></h5>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-technology"></span>
                            </div>
                            <div class="text-holder">
                                <h5><span>Phone:</span> <%= PHONE%></h5>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-note"></span>
                            </div>
                            <div class="text-holder">
                                <h5><span>Email:</span> <%= EMAIL%></h5>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-clock"></span>
                            </div>
                            <div class="text-holder">
                                <h5><span>Email:</span> Weekdays: 9.00am to 18.00pm</h5>
                            </div>
                        </li>
                        
                    </ul>
                </div>    
            </div>
        </div>
    </div>
</section>
<!--End appointment area-->