<section>
    <div class="container bootstrap snippet ">
        <div class="row">
          <div class="text-center center">
            <img src="<%= current_user.image_url%>" class="avatar img-circle img-thumbnail" alt="avatar">
             <h6>Upload a different photo...</h6> 
            <input type="file" class="text-center center-block file-upload">
        </div></hr><br>
    </div>
</div>



<div class="container">
    <h3 class="wthree_text_info"><span><%= @user.first_name %></span></h3>     
    <div id="horizontalTab">
        <ul class="resp-tabs-list">
            <li> My Profile </li>
            <li> Address Book </li>
            <li> My Orders </li>
        </ul>
        <div class="resp-tabs-container">
            <div class="tab1">
                <%= form_for(@user, :url => user_path(@user), :method => 'PUT') do |f| %>
                <div class='col-sm-12'>
                    <div class="field">
                        <%= f.label :first_name %><br />
                        <%= f.text_field :first_name, autofocus: true %>
                    </div>
                    <div class="field">
                        <%= f.label :last_name %><br />
                        <%= f.text_field :last_name, autofocus: true %>
                        
                    </div>
                    <div id="image" class= "form-group">
                         <%= f.label :photo%>
                         <%= f.file_field :image, accept: 'image/png,image/gif,image/jpeg,image/jpg'%>
                    </div>
                    <div class="field">
                        <%= f.label :email %><br />
                        <%= f.text_field :email, autofocus: true %>
                    </div>
                    <div class="field">
                        <%= f.label :gender %><br />
                        <%= f.text_field :gender, autofocus: true %>
                    </div>

                    <div class="field">
                        <%= f.label :contact_no %><br />
                        <%= f.text_field :phone_number, autofocus: true %>
                    </div>
                    <div class="field">
                        <%= f.label :Date_of_birth %><br />
                        <%= f.date_field :dob, autofocus: true %>
                    </div>
                    <div class="actions">
                        <%= f.submit "Save" %>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="tab2">

            <%= form_for(@address) do |f| %>
                <div class='col-sm-12'>

                    <div class="field">
                        <%= f.label :province %>   <br />
                        <%= f.text_field :province, autofocus: true %>
                    </div>

                    <div class="field">
                        <%= f.label :city %>   <br />
                        <%= f.text_field :city, autofocus: true %>
                    </div>

                    <div class="field">
                        <%= f.label :address %>   <br />
                        <%= f.text_field :address, autofocus: true %>
                    </div>

                    <div class="field">
                        <%= f.label :postal_code %>   <br />
                        <%= f.number_field :postal_code, autofocus: true %>
                    </div>
                    <div class="actions">
                        <%= f.submit "Save" %>
                    </div>
                </div>
            <% end %>

        </div>

  <div class="tab3">



  </div>
</div>
</div>
</div>
</section>