<section>
    <div class="container bootstrap snippet ">
        <div class="row">
          <div class="text-center center">
            <img src="<%= current_user.image_url%>" class="avatar img-circle img-thumbnail" alt="avatar">
             <h6>Upload a different photo...</h6> 
            <input type="file" class="text-center center-block file-upload">
        </div></hr><br>
    </div>
</div>



<div class="container">
    <h3 class="wthree_text_info"><span><%= @user.first_name %></span></h3>     
    <div id="horizontalTab">
        <ul class="resp-tabs-list">
            <li> My Profile </li>
            <li> Address Book </li>
            <li> My Orders </li>
        </ul>
        <div class="resp-tabs-container">
            <div class="tab1">
                <%= form_for(@user, :url => user_path(@user), :method => 'PUT') do |f| %>
                <div class='col-sm-12'>
                    <div class="field">
                        <%= f.label :first_name %><br />
                        <%= f.text_field :first_name, autofocus: true %>
                    </div>
                    <div class="field">
                        <%= f.label :last_name %><br />
                        <%= f.text_field :last_name, autofocus: true %>
                        
                    </div>
                    <div id="image" class= "form-group">
                         <%= f.label :photo%>
                         <%= f.file_field :image, accept: 'image/png,image/gif,image/jpeg,image/jpg'%>
                    </div>
                    <div class="field">
                        <%= f.label :email %><br />
                        <%= f.text_field :email, autofocus: true %>
                    </div>
                    <div class="field">
                        <%= f.label :gender %><br />
                        <%= f.text_field :gender, autofocus: true %>
                    </div>

                    <div class="field">
                        <%= f.label :contact_no %><br />
                        <%= f.text_field :phone_number, autofocus: true %>
                    </div>
                    <div class="field">
                        <%= f.label :Date_of_birth %><br />
                        <%= f.date_field :dob, autofocus: true %>
                    </div>
                    <div class="actions">
                        <%= f.submit "Save" %>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="tab2">

            <%= form_for(@address) do |f| %>
                <div class='col-sm-12'>

                    <div class="field">
                        <%= f.label :province %>   <br />
                        <%= collection_select("address", "province_id", Province.all, "id", "name") %>
                    </div>

                    <div class="field">
                        <%= f.label :city %>   <br />
                        <%= collection_select("address", "city_id", City.all, "id", "name") %>
                    </div>
                    <div class="field">
                        <%= f.label :address %>   <br />
                        <%= f.text_field :address, autofocus: true %>
                    </div>

                    <div class="field">
                        <%= f.label :postal_code %>   <br />
                        <%= f.number_field :postal_code, autofocus: true %>
                    </div>
                    <div class="actions">
                        <%= f.submit "Save" %>
                    </div>
                </div>
            <% end %>

        </div>

        <div class="tab3">
                <br>
            <div class="accordion-panel">
              <dl class="accordion">
                <% current_user.orders.each do |order|%>
                    <dt>Status: <%=order.status%> Total Price:<%=order.total_price%> <i class="plus-icon"></i></dt>
                    <dd>
                      <div class="content">
                        <div class="col-md-12 modal_body_left modal_body_left1">
                            <% if current_user.present? %>
                                <div class="table-responsive" style="height: 482px;overflow-y: auto;">
                                    <table class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Price</th>
                                                    <th>Quantity</th>
                                                    <th>Image</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <% order.order_items.each do |orderitem| %>
                                                    <tr>
                                                        <td><%= orderitem.post.name %></td>
                                                        <td><%= orderitem.post.price %></td>
                                                        <td><%= orderitem.post.quantity %></td>
                                                        <td><%= image_tag orderitem.post.photo_url, class: "image_table_display"%></td>
                                                    </tr>
                                                <% end %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div>
                                        <%= link_to('Cancel Order', order_path(order) , method: :delete, class: "btn btn-large btn-primary")%>
                                    </div>
                                    <br>
                                <% end %>
                            <div class="clearfix"></div>
                        </div>
                      </div>
                    </dd>
                <%end%>

              </dl>
            </div>
<script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script><script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script >$(document).ready(function() {

  var bodyEl = $('body'),
    accordionDT = $('.accordion').find('dt'),
    accordionDD = accordionDT.next('dd'),
    parentHeight = accordionDD.height(),
    childHeight = accordionDD.children('.content').outerHeight(true),
    newHeight = parentHeight > 0 ? 0 : childHeight,
    accordionPanel = $('.accordion-panel'),
    buttonsWrapper = accordionPanel.find('.buttons-wrapper'),
    openBtn = accordionPanel.find('.open-btn'),
    closeBtn = accordionPanel.find('.close-btn');

  bodyEl.on('click', function(argument) {
    var totalItems = $('.accordion').children('dt').length;
    var totalItemsOpen = $('.accordion').children('dt.is-open').length;

    if (totalItems == totalItemsOpen) {
      openBtn.addClass('hidden');
      closeBtn.removeClass('hidden');
      buttonsWrapper.addClass('is-open');
    } else {
      openBtn.removeClass('hidden');
      closeBtn.addClass('hidden');
      buttonsWrapper.removeClass('is-open');
    }
  });

  function openAll() {

    openBtn.on('click', function(argument) {

      accordionDD.each(function(argument) {
        var eachNewHeight = $(this).children('.content').outerHeight(true);
        $(this).css({
          height: eachNewHeight
        });
      });
      accordionDT.addClass('is-open');
    });
  }

  function closeAll() {

    closeBtn.on('click', function(argument) {
      accordionDD.css({
        height: 0
      });
      accordionDT.removeClass('is-open');
    });
  }

  function openCloseItem() {
    accordionDT.on('click', function() {

      var el = $(this),
        target = el.next('dd'),
        parentHeight = target.height(),
        childHeight = target.children('.content').outerHeight(true),
        newHeight = parentHeight > 0 ? 0 : childHeight;

      // animate to new height
      target.css({
        height: newHeight
      });

      // remove existing classes & add class to clicked target
      if (!el.hasClass('is-open')) {
        el.addClass('is-open');
      }

      // if we are on clicked target then remove the class
      else {
        el.removeClass('is-open');
      }
    });
  }

  openAll();
  closeAll();
  openCloseItem();
});
//# sourceURL=pen.js
</script>


        </div>    
</div>
</div>
</div>
</section>


