<h1 align="center">Welcome to SubCategory Page</h1>


  <div class="row" align="center" >
    <td><%= link_to('Create New SubCategory', new_sub_category_path , method: :get, class: "btn btn-large btn-primary")%></td>

  </div>

<div id="categories" class="tab-pane">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <% @subcategories.each_with_index do |subcategory,index| %>
          <tr>
            <td><%= subcategory.id %></td>
            <td><%= subcategory.name %></td>
          <td><%= link_to('Edit', edit_sub_category_path(subcategory), class: "btn btn-large btn-primary")%></td>
          <td><%= link_to('Delete', sub_category_path(subcategory), method: :delete, class: "btn btn-large btn-primary")%></td> 

            <%#= render :partial => 'images/image', :locals => {:image => image} %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
