

<br><h1 style="text-align:center;">Auction Page</h1>

<!-- banner-bootom-w3-agileits -->
<div class="banner-bootom-w3-agileits">
	<div class="container">
		
		<div class="col-md-8 products-right">
			<%Post.auction_posts.available.each_with_index do |post,post_index|%>
				<div class="col-md-4 product-men">
					<div class="men-pro-item simpleCart_shelfItem">
						<div class="men-thumb-item">
							<%= image_tag post.photo_url, class: "pro-image-front"%>
							<%= image_tag post.photo_url, class: "pro-image-back"%>
							<div class="men-cart-pro">
								<div class="inner-men-cart-pro link-product-add-cart"">
										<%= link_to "Quick View", post_path(post) %>
								</div>
							</div>
							<span class="product-new-top">New</span>
						</div>
						<div class="item-info-product ">
							<h4><a href="single.html"><%=post.name.first(20)%></a></h4>
							<div class="info-product-price">
								<span class="item_price"><%=post.starting_bid%>Rs</span>
							</div>
							<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
					        <form action="/carts/add_products" method="post">
					            <fieldset>
					                <input type="hidden" name="amount" value="1" />
					                <input type="hidden" name="post_id" value="<%=post.id%>" />
					                <input type="submit" name="submit" value="Add to cart" class="button" />
					                
					            </fieldset>
					        </form>
					    </div>

						</div>
					</div>
				</div>
			<%end%>
		</div>
		<div class="clearfix"></div>
	</div>
</div>






