
<div class='col-xs-12'>
	<%= form_for(@post, :html => {class: "form-horizontal", role: "form"}) do |f|%>
	<div class= "form-group">
		<label>Name</label><br>
		<%= f.text_field :name, class: "form-control", autofocus: true %>
	</div>

	<div class= "form-group">
		<label>Description</label><br>
		<%= f.text_area(:description, size: '50x10',class: "form-control") %>
	</div>

	<div class= "form-group">
		<label>For Types</label><br>
		<%#= collection_select(“job”, “client_id” , @clients, “id”, “name”, html_options = {:onchange => “alert(‘hello’)”} )%>
		<%= collection_select("post", "ptype", Type.all, "id", "name", {}, {:onchange=>"change_post_type(this);"} ) %>
		<%#= f.collection_select(:ptype, Type.all, :id, :name, :html_options = {:onchange => “alert('hello')”})  %>
	</div>


	<div id="image" class= "form-group">
		<%= f.label :photo%>
		<%= f.file_field :photo, accept: 'image/png,image/gif,image/jpeg,image/jpg'%>
	</div>

	<div class= "form-group">
		<%= f.label :price%>
		<%= f.text_field :price, class: "form-control", autofocus: true %>
	</div>

	<div class= "form-group">
		<%= f.label :quantity%>
		<%= f.text_field :quantity, class: "form-control", autofocus: true %>
	</div>
	
	<div class= "form-group">
		<%= f.label :percentage_off%>
		<%= f.text_field :percentage_off, class: "form-control", autofocus: true %>
	</div>

	<div id = "to_hide" class= "form-group">
		<%= f.label :StaringBid%>
		<%= f.text_field :starting_bid, class: "form-control", autofocus: true %>
	</div>

	<div id="categories" class="form-group">
		<label>For Categories</label><br>
		<%= collection_select("post", "category_id", Category.all, "id", "name", {prompt: "Choose a category"}, {:onchange=>"change_sub_category_type(this);"} ) %>
		<%#= f.collection_select :category_id, Category.all, :id, :name  %>
	</div>

	<div class="form-group">
		<label>For Sub Categories</label><br>
		<%= f.collection_select :sub_category_id,  [], :id, :name ,{prompt: "Choose a sub category"} , id: "subcategories"%>
	</div>

	<div class="form-group">
		<label>For Brands</label><br>
		<%= f.collection_select :brand_id, [], :id, :name ,{prompt: "Choose a brand"} , id: "brands"%>
	</div>

</div>
<div class="form-group">
	<%= f.submit class:'btn btn-primary btn-lg'%>
</div>
<% end %>
</div>

