<h1 align="center"> Welcome to Cities Page</h1><br><br>

  <div class="row" align="center" >
    <td><%= link_to('Add a New City', new_city_path , method: :get, class: "btn btn-large btn-primary")%></td>

  </div>

<div id="categories" class="tab-pane">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <% @cities.each_with_index do |city,index| %>
          <tr>
            <td><%= city.id %></td>
            <td><%= city.name %></td>
            <td>
              <%= link_to('Edit', edit_city_path(city), class: "btn btn-large btn-primary")%>
              <%= link_to('Delete', city_path(city), method: :delete, class: "btn btn-large btn-primary")%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
