<tr>
	<td><%= image_tag image.image_url, class: "image_table_display"%></td>
	<td> 
		<%if @favourite_images.include?(image)%>
			<input type="checkbox" id="images_<%=image.id%>" onclick="favourite_toggle(<%=image.id%>,'images')" data-on="Yes" data-off="No" checked>
		<%else%>
			<input type="checkbox" id="images_<%=image.id%>" onclick="favourite_toggle(<%=image.id%>,'images')" data-on="Yes" data-off="No">
		<%end%>
	</td>
</tr>